<div class="container">
<h1>My tasks</h1>

<div class="list-container">
  <% @tasks.each do |task| %>
  <div class="form-check" id = "form-style">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      <%= link_to task.title , task_path(task.id)  %>
    </label>
  </div>
  <% end %>
</div>

<%= link_to 'Add task' , tasks_new_path  %></li>
</div>
